In [ ]:
import psycopg2
import pandas as pd
import os 
from dotenv import load_dotenv

# --- CONFIGURATION ---
load_dotenv()
DATABASE_URL = os.getenv("DATABASE_URL")

try:
    print("Connecting to Render...")
    conn = psycopg2.connect(DATABASE_URL)
    print("Connected successfully!\n")

    # 1. GET LIST OF ALL TABLES
    print("--- FETCHING TABLE LIST ---")
    tables_query = """
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'public' 
    ORDER BY table_name;
    """
    tables_df = pd.read_sql_query(tables_query, conn)
    print(tables_df)
    print("\n" + "="*30 + "\n")

    table_names = tables_df['table_name'].tolist()

    for table in table_names:
        print(f"--- SAMPLE DATA: {table} ---")
        
        # Get first 3 rows
        query = f'SELECT * FROM "{table}" LIMIT 3;'
        df = pd.read_sql_query(query, conn)
        
        # Get total count
        cursor = conn.cursor()
        cursor.execute(f'SELECT COUNT(*) FROM "{table}";')
        count = cursor.fetchone()[0]
        
        print(f"Total Rows: {count}")
        print(df.to_string(index=False)) 
        print("\n" + "-"*30 + "\n")

except Exception as e:
    print("Error:", e)

finally:
    if 'conn' in locals():
        conn.close()
        print("Connection closed.")

Connecting to Render...
Connected successfully!

--- FETCHING TABLE LIST ---
        table_name
0          country
1         customer
2      orderdetail
3          product
4  productcategory
5           region

==============================

--- SAMPLE DATA: country ---

/var/folders/cf/2bs7rbgn0vxf9sd837nl2tbw0000gn/T/ipykernel_73622/3216138439.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables_df = pd.read_sql_query(tables_query, conn)
/var/folders/cf/2bs7rbgn0vxf9sd837nl2tbw0000gn/T/ipykernel_73622/3216138439.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

Total Rows: 21
 countryid   country  regionid
         1 Argentina         7
         2   Austria         9
         3   Belgium         9

------------------------------

--- SAMPLE DATA: customer ---
Total Rows: 91
 customerid firstname lastname                       address        city  countryid
          1 Alejandra   Camino                   Gran Via, 1      Madrid         16
          2 Alexander    Feuer                   Heerstr. 22     Leipzig          9
          3       Ana Trujillo Avda. de la Constitucion 2222 Mexico D.F.         12

------------------------------

--- SAMPLE DATA: orderdetail ---

/var/folders/cf/2bs7rbgn0vxf9sd837nl2tbw0000gn/T/ipykernel_73622/3216138439.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)
/var/folders/cf/2bs7rbgn0vxf9sd837nl2tbw0000gn/T/ipykernel_73622/3216138439.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

Total Rows: 621806
 orderid  customerid  productid  orderdate  quantityordered
       1           1         68 2012-08-14                1
       2           1         22 2012-08-14                6
       3           1         66 2012-08-14                4

------------------------------

--- SAMPLE DATA: product ---
Total Rows: 77
 productid      productname  productunitprice  productcategoryid
         1     Alice Mutton              39.0                  6
         2    Aniseed Syrup              10.0                  2
         3 Boston Crab Meat              18.4                  8

------------------------------

--- SAMPLE DATA: productcategory ---
Total Rows: 8
 productcategoryid productcategory                                 productcategorydescription
                 1       Beverages                Soft drinks, coffees, teas, beers, and ales
                 2      Condiments Sweet and savory sauces, relishes, spreads, and seasonings
                 3     Confections                        Desserts, candies, and sweet breads

------------------------------

--- SAMPLE DATA: region ---

/var/folders/cf/2bs7rbgn0vxf9sd837nl2tbw0000gn/T/ipykernel_73622/3216138439.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)
/var/folders/cf/2bs7rbgn0vxf9sd837nl2tbw0000gn/T/ipykernel_73622/3216138439.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)
/var/folders/cf/2bs7rbgn0vxf9sd837nl2tbw0000gn/T/ipykernel_73622/3216138439.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

Total Rows: 9
 regionid          region
        1   British Isles
        2 Central America
        3  Eastern Europe

------------------------------

Connection closed.